$select: ".slide" !default;

// config
@use "Shared/scss/templates/base/config/units";

// layouts
@use "Shared/scss/templates/base/layouts/slide" with (
    $select: $select
);

@mixin base {
    @include slide.base {
        $length: 100%;
        $offset: 8em;

        --carousel-length: #{$length};
        --carousel-offset: #{$offset};

        @media all and (min-width: slide.$desktop) {
            &__into {
                max-width: var(--carousel-length, #{$length});
                margin: auto;
            }

            &__nav {
                z-index: 2;
                max-width: calc(
                    var(--carousel-length, #{$length}) +
                        var(--carousel-offset, #{$offset})
                );
                width: 100%;
            }
        }

        &__nav {
            z-index: 2;
            position: absolute;
        }
    }

    #{$select} {
        margin: auto;

        @content;
    }
}

@mixin responsive {
    #{$select} {
        &--responsive {
            #{$select} {
                &__item {
                    @media all and (min-width: 400px) {
                        max-width: calc(100% / 2);
                    }

                    @media all and (min-width: 700px) {
                        max-width: calc(100% / 3);
                    }

                    @media all and (min-width: 1000px) {
                        max-width: calc(100% / 4);
                    }
                }
            }

            @content;
        }
    }
}
